In [1]:
'AMZN'

'AMZN'

In [2]:
"AMZN"

'AMZN'

In [3]:
'AMZN GME'

'AMZN GME'

In [4]:
"""AMZN
GME"""

'AMZN\nGME'

In [5]:
symbol = 'AMZN'
n = len(symbol)
print(f'n={n}.')

n=4.

In [6]:
symbol[0]

'A'

In [7]:
symbol[n-1]

'N'

In [8]:
symbol[1]

'M'

In [9]:
symbol[-1]

'N'

In [10]:
symbol[-2]

'Z'

In [11]:
symbol[1:3] # excludes symbol[3]

'MZ'

In [12]:
symbol[1:]

'MZN'

In [13]:
symbol[:3] #0 to 3rd index

'AMZ'

In [14]:
symbol[:] #everything

'AMZN'

In [15]:
symbol[1]

'M'

In [17]:
symbol[2]

'Z'

In [16]:
symbol[2] + symbol[1] #joins strings

'ZM'

In [18]:
symbol + ' banana'

'AMZN banana'

In [19]:
symbol + ' banana ' + symbol

'AMZN banana AMZN'

In [20]:
symbol + 'banana' + symbol

'AMZNbananaAMZN'

In [21]:
symbol[0] * 3 #multiply strings

'AAA'

In [22]:
symbol * 3

'AMZNAMZNAMZN'

In [23]:
symbol + ' banana ' + symbol * 3 #mult symbol by 3 and add

'AMZN banana AMZNAMZNAMZN'

In [24]:
(symbol + ' banana ' + symbol) * 3 #repeat all

'AMZN banana AMZNAMZN banana AMZNAMZN banana AMZN'

In [25]:
'AM' in symbol #check if string in symbol

True

In [26]:
'MA' in symbol

False

In [27]:
symbol.index('Z') #shows what index letter z is at

2

In [28]:
'The cow jumped over the moon.'.index('cow')

4

In [29]:
# 'n=' + n # uncomment to see error: cannot combine string and integer

In [30]:
'n=' + str(n)

'n=4'

In [31]:
5 #int

5

In [32]:
'5' #str

'5'

In [33]:
type(5)

int

In [34]:
type('5')

str

In [35]:
'n=' + str(5)

'n=5'

In [36]:
symbol.capitalize()

'Amzn'

In [38]:
# help(str) # uncomment to see a lot of output

In [39]:
'Go Badgers'.split(' ')

['Go', 'Badgers']

In [40]:
'Badger,Bucky,junior'.split(',')

['Badger', 'Bucky', 'junior']

In [41]:
'Badger,Bucky,junior'.split(' ')

['Badger,Bucky,junior']

In [42]:
'Badger,Bucky,junior'.split('B')

['', 'adger,', 'ucky,junior']

In [43]:
# symbol[0] = 'B' # uncomment to see error: cannot change immutable string 'AMZN'

In [44]:
symbol = 'BMZN' # but can change variable (symbol) to refer to new string